{{define "header"}}
<header>
    <nav>
        <a href="/"><button class="btn btn-primarmy">Home</button></a>
        <a href="/account"><button class="btn btn-primarmy">Account</button></a>
        <a href="#"><button class="btn btn-primarmy" disabled>Other</button></a>
    </nav>
</header>
{{end}}