@bmwadforth:registry=https://australia-southeast2-npm.pkg.dev/digital-node-1176/bmwadforth-npm/
//australia-southeast2-npm.pkg.dev/digital-node-1176/bmwadforth-npm/:always-auth=true
legacy-peer-deps=true